PORT=3001
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=customs_ledger
DB_USER=customs_ledger_app
DB_PASSWORD=change_me
CLIENT_ORIGIN=http://localhost:5173
DB_SSL=false
# DB_SSL_CA=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----
# Set this to the number of trusted reverse proxies in front of Node.
TRUST_PROXY=0
